/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body{
    background-image:url(../src/app/component/taches/sydneytaches.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.loginscreen{
    background-image:url(../src/app/component/login/londonlogin.jpg);
}

.signupscreen{
    background-image:url(../src/app/component/signup/singaporeinscription.jpg);
}

h1,h2{
    text-align: center;
}

h1{
  font-size: 50px;  
}

.sec{
    padding: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.coliste{
    background-color: rgba(200, 200, 200, 0.65);
    border-radius: 1ch;
    margin: 5px;
    margin-bottom: 10px;
}

.bp{
    background-color: rgba(245, 245, 245, 0.8);
}

.ti{
    height: fit-content;
}